.textColorRed {
  color: red;
}

.textBold {
  font-weight: bold;
}

.textUserNotExist,
.textPasswordNotEqual,
.questNotExist {
  padding: 12px 40px;
  margin: 8px 0;
}

.ceterText {
  text-align: center;
}
