/*Reset CSS*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;

  box-sizing: border-box;
  font-weight: 100;
  font-family: "Roboto", sans-serif;
}

html,
body {
  background-color: #e5e5e5;
  display: inline;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
  /*float: left;*/
}

@media only screen and (min-width: 500px) {
  /* For tablets: */
  .col-s-1 {
    width: 8.33%;
  }
  .col-s-2 {
    width: 16.66%;
  }
  .col-s-3 {
    width: 25%;
  }
  .col-s-4 {
    width: 33.33%;
  }
  .col-s-5 {
    width: 41.66%;
  }
  .col-s-6 {
    width: 50%;
  }
  .col-s-7 {
    width: 58.33%;
  }
  .col-s-8 {
    width: 66.66%;
  }
  .col-s-9 {
    width: 75%;
  }
  .col-s-10 {
    width: 83.33%;
  }
  .col-s-11 {
    width: 91.66%;
  }
  .col-s-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {
    width: 8.33%;
  }
  .col-2 {
    width: 16.66%;
  }
  .col-3 {
    width: 25%;
  }
  .col-4 {
    width: 33.33%;
  }
  .col-5 {
    width: 41.66%;
  }
  .col-6 {
    width: 50%;
  }
  .col-7 {
    width: 58.33%;
  }
  .col-8 {
    width: 66.66%;
  }
  .col-9 {
    width: 75%;
  }
  .col-10 {
    width: 83.33%;
  }
  .col-11 {
    width: 91.66%;
  }
  .col-12 {
    width: 100%;
  }
}

.floatRight {
  float: right;
}

.floatLeft {
  float: left;
}

.centerText {
  text-align: center;
}

.appTitle {
  margin: 5vh 0;
}

.backgroundColorWhite {
  background-color: white;
}

.incorrect {
  border: 1px solid red !important;
}

.divLogo {
  margin: 0 auto;
}

.marginTop {
  margin-top: 3vh;
}

.logo {
  width: 30vw;
  min-width: 220px;
  max-width: 300px;
  display: block;
  margin: 2vw auto 3vw auto;
}

.generalDiv {
  border-radius: 5px;
  margin: 0vh 6vw;
  margin-bottom: 4vh;
  padding: 2vh 1vw;
}

.spinner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
}

.externalSpinnerDiv {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.25);
}

hr {
  border: 1px solid #e5e5e5;
}
