.react-tabs__tab-list {
  text-align: center;
  margin-top: 0vh;
  margin-bottom: 5vh;
  border-bottom: none;
}

.react-tabs__tab {
  display: inline-block;
  border-bottom: 1px solid #aaa;
  border-color: #aaa;
  bottom: -1px;
  background-color: white;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--selected {
  background: #e5e5e5;
  border-color: #aaa;
  color: black;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
}

@media only screen and (max-width: 500px) {
  .react-tabs__tab-list {
    border-bottom: 0px solid #aaa;
  }
  .react-tabs__tab {
    border-bottom: 1px solid #aaa;
    border-radius: 5px 5px;
  }
  .react-tabs__tab--selected {
    border-radius: 5px 5px;
    background: white;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(102, 102, 102, 0.54);
    -moz-box-shadow: 2px 2px 3px 0px rgba(102, 102, 102, 0.54);
    box-shadow: 2px 2px 3px 0px rgba(102, 102, 102, 0.54);
  }
}
