input[type="text"],
input[type="password"],
input[type="email"],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.inputTypeDiv {
  border-radius: 5px;
  padding: 0px 40px;
}

.inputWithRemove {
  width: 90% !important;
  margin-right: 2vw !important;
}

.infoIcon {
  font-size: 11px;
  padding-bottom: 2px;
}

.spanInformationIcon {
  margin-left: 1vw;
}

.removeItem {
  line-height: 40px;
  text-align: center;
  color: #d43535;
}
