.buttonDiv {
  margin-top: 1vh;
  margin-bottom: 1vh;
  text-align: center;
}

.buttonStyle {
  width: 40vw;
  min-width: 200px;
  height: 3vh;
  min-height: 35px;
  padding: 5px 10px;
  border: 1px solid black;
  border-radius: 5px;
  color: white;
  background-color: #00a0b9;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(102, 102, 102, 0.54);
  -moz-box-shadow: 2px 2px 3px 0px rgba(102, 102, 102, 0.54);
  box-shadow: 2px 2px 3px 0px rgba(102, 102, 102, 0.54);
  line-height: 20px;
  cursor: "pointer";
}

.buttonStyle:active {
  -webkit-box-shadow: inset 2px 2px 8px -1px rgba(20, 20, 20, 1);
  -moz-box-shadow: inset 2px 2px 8px -1px rgba(20, 20, 20, 1);
  box-shadow: inset 2px 2px 8px -1px rgba(20, 20, 20, 1);
}

.buttonStyle:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.questionaryButton {
  margin-top: 20vh;
}

.logoutButton {
  margin-top: 3vh;
  border: none;
  background-color: transparent;
}
